:root {
  --primary: #20282d;
  --contrast-primary: #fff;
}

*:not(span) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body, html {
  overflow-x: hidden;
  /* scroll-padding: 20rem; */
  padding: 0 !important;
}

h1, h2, h3, h4, h5, h6, p, /*span*/ div {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}

p, /*span*/ div {
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
}

.home,
.services,
.contactSection,
.sign-up {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-color: black;
  height: 90vh;
}

.services {
  background-color: black;
  background-image: url('/images/img-11.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--contrast-primary);
  font-size: 100px;
}

.aboutus {
  background-color: black;
  background-image: url('/images/img-10.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--contrast-primary);
}


.contactSection {
  background-color: black;
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: var(--contrast-primary);
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--contrast-primary);
  font-size: 100px;
}

::selection {
  background: black;
  color:white;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .services-h1 {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
  }
  /* .services h1 {
      font-size: 50px;
      margin-top: -100px;
    } */
  }
@media screen and (max-width: 960px) {
  /* .services h1 {
    font-size: 70px;
    margin-top: -150px;
  } */
}